<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.asgroup.app" version="1.0.0">
	<name>AS-Group</name>
	<description>
		Application mobile de vente aux enchères
	</description>
	<author email="christophe@gaudelet.fr" href="http://www.gaudelet.fr">
    gaudelet.fr
    </author>
	<access origin="*" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    <gap:plugin name="org.apache.cordova.device" version="0.3.0" />
	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none"/>
	<preference name="DisallowOverscroll" value="true" />
	<icon src="icon.png" />
</widget>